/* HEADER */
.jumbotron {
    text-align: center;
    background-color: pink;
    color: purple;
}


/* TABLE STYLING */
th {
  padding-right: 95px;
}

/* PANEL */
.panel-default .panel-heading {
    background: rgb(39, 92, 128);
}

.panel .panel-heading .panel-title {
    font-weight: bold;
    color: #fff;
}

/* FORM */
form {
    font-weight: bold;
}

input[type=text], input[type=date] {
    width: 97%;
    margin: 5px 10px;
    font-weight:normal;
}

input[type=submit] {
    margin: 20px 10px;
}


